attrs
backcall
bleach
colorama
cycler
decorator
defusedxml
entrypoints
et-xmlfile
ipykernel
ipython
ipython-genutils
jdcal
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyterlab
jupyterlab-server==0.2.0
kiwisolver
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
openpyxl
pandas
pandocfilters
parso
pickleshare
prometheus-client
prompt-toolkit
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pywinpty
pyzmq
scikit-learn
scipy
seaborn
Send2Trash
six
sklearn
terminado
testpath
tornado
traitlets
wcwidth
webencodings
